body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF
}

.container {
    background-color: #FFFFFF;
    width: 870px;

    padding: 33px;
    margin-bottom: 20px;
}

.text {
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;

}

.name {
    margin left: 16px;
    font-size: 18px;


}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;



}

.player {
    display: flex;
    align-items: center;
}

.players img {
    width: 56px;
    height: 56px;
}

.name {
    margin-left: 16px;
}


.blog img {
    width: 177px;
    height: 117px;
}

.big-blog {
    display: flex;

}

.details {
    padding-left: 16px;
}

.top-blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 69px;
    grid-row-gap: 26px;
}

.container1 {
    background-color: #FFFFFF;
    width: 937px;


}

.text1 {
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    padding: 20px;

}

.react img {
    width: 224px;
    height: 104px;
    padding: 10px;
}

.det {
    width: 300px;
    padding: 10px;
}

#clock {
    color: red;



}

#star {
    color: gold;
}

.star {
    color: gray;
}

.vai {
    background-color: rgba(230, 23, 8, 0.493);
    border-radius: 10px;
    padding: 2px;

}

.fl {
    display: flex;

}




@media only screen and (max-width : 688px) {
    .container {
        width: 100%;
    }

    .players {

        grid-template-columns: repeat(1, 1fr);
        justify-items: center;


    }

    .top-blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .fl {

        flex-direction: column;
        padding-left: 45px;
    }

    .container1 {
        width: 100%;

    }


}